<nav class="navbar navbar-dark bg-dark p-2" id='start'>
    <div class="container-fluid">
        <a class="navbar-brand" ><h2 style="font-family: 'Lobster', cursive;" class='text-warning'> Gerenciador de Links</h2></a>
        <a href='/'><i class="fas fa-home fs-2 text-light"></i></a>
    </div>
  </nav>
