<nav class="navbar navbar-dark bg-dark p-2">
    <div class="container-fluid">
        <a class="navbar-brand"><h2 style="font-family: 'Lobster', cursive;" class='text-warning'> Gerenciador de Links</h2></a>
    </div>
  </nav>